# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
DB_NAME=price_tracker

# Email Alerts
EMAIL_SENDER=your_gmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
EMAIL_RECEIVER=your_email@gmail.com

# Scraper Settings
SCRAPE_DELAY_MIN=1
SCRAPE_DELAY_MAX=3
PRICE_DROP_THRESHOLD=10

# App
ENV=development